<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!--    <h1><%= title %></h1>-->
<!--    <p>Welcome to <%= title %></p>-->

<!--header navigation start-->
   <header>
     <nav class="menu">
       <ul>
         <li><a href="#">KAYA RHABBY Pascia Hershe</a></li>
         <li><a href="#">Home</a></li>
         <li><a href="#">About</a></li>
         <li><a href="#">Skills</a></li>
         <li><a href="#">Project</a></li>
         <li><a href="#">Contact</a></li>
       </ul>
     </nav>
   </header>
<!--header navigation end-->

<!-- home page  start-->
<div>
    <section>
      <h1>Nedd a <span>creatve and stable</span> <span>web solution</span>for your business ? </h1>
      <small>welcome to my web development portfolio</small>
      <button>Dowload my resume <img src="/images/arrow.png" alt="down_right_arrow"></button>
      <div>
        <p>Suivez-nous!</p>
        <hr>
        <a href="#"><img src="/images/facebook.png" alt="facebook image"></a>
        <a><img src="/images/instagram.png" alt="instagram image"></a>
        <a href=""><img src="/images/github.png" alt="github image"></a>
      </div>
    </section>
  <div><img src="/images/Lysia.jpeg" alt="Lysia"></div>
</div>

<!--home page end-->

<!-- about me page start-->
<article>
  <header class="title">
    <h2>About Me</h2>
  </header>
  <section>
    <img src="/images/one_piece_luffy_big_mom_shanks_kaido_teach_yonko_by_amanomoon_dcanroz-pre.jpg" alt="one piece image">
    <div>
      <p>
        <span>I'm Sanja</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus accusantium aperiam consectetur consequatur culpa, deserunt ea et, eum eveniet ipsa,
        ipsum laboriosam neque nihil non quae quas quisquam sequi sit?
        A adipisci aliquam atque commodi delectus eaque est in laboriosam laborum libero maiores minima nostrum,
        numquam perspiciatis possimus provident quae quaerat quam quos sed suscipit unde veritatis.
        Adipisci, aperiam, expedita!
        Aliquam at, deserunt, earum est id ipsa maiores modi neque, odio quis ratione sequi sint ullam. Aperiam
        earum ex harum impedit ipsa omnis optio placeat, quaerat quod unde. Accusantium, porro?
        Accusamus accusantium culpa natus nihil nostrum perspiciatis porro, repellendus vitae! Ab architecto
        assumenda commodi corporis culpa earum error explicabo fuga, hic laborum, natus necessitatibus nostrum qui
        rem saepe soluta vero!
      </p>
      <div>
        <button> Take a look at my skills</button>
        <button>Let's Talk</button>
      </div>
    </div>
  </section>
</article>
<!--about me page end-->

<!--education page start-->
<article class="container">
  <main class="row">
    <!--   *******  Education Section Starts  *******   -->
    <section class="col">

      <header class="title">
        <h2>EDUCATION</h2>
      </header>

      <div class="contents">
        <div class="box">
          <h4>2018 - 2022</h4>
          <h3>High School Degree</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

        <div class="box">
          <h4>2018 - 2022</h4>
          <h3>Bachelor's Degree</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

        <div class="box">
          <h4>2018 - 2022</h4>
          <h3>Master Degree</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

      </div>

    </section>

    <!--   *******  Education Section Ends  *******   -->

    <!-- Carroussel section start -->
    <div class="container">
        <img src="/images/csm_20150630_080835r_566972165c.jpg" alt="ufr mathématique informatique strasbourg image">
        <img src="/images/inphb.jpg" alt="institut national polytechnique houphouet boigny image">
        <img src="/images/malgre-les-restrictions-sanitaires-la-plupart-des-etudiants-de-polytech-ont-pu-effectuer-leur-annee-obligatoire-a-l-etranger-photo-er-alexandre-marchi-1615842244.jpg"
             alt="polytech nancy image">

      <div class="dots">
        <span onclick="currentSlide(1)"></span>
        <span onclick="currentSlide(2)"></span>
        <span onclick="currentSlide(3)"></span>
      </div>
    </div>
    <!--Carroussel section end-->
  </main>
</article>
<!--education page end -->

<article>
  <header class="title">
    <h2>Skills</h2>
  </header>
  <div id="container">
    <div><img src="/images/python.svg" alt="python image"></div>
    <div><img src="/images/java.svg" alt="java image"></div>
    <div><img src="/images/c.svg" alt="language c image"></div>
    <div><img src="/images/c++.svg" alt="language c++ image"></div>
    <div><img src="/images/javascript.svg" alt="javascript image"></div>
    <div><img src="/images/Php_light.svg" alt="php image"></div>
    <div><img src="/images/html5.svg" alt="htlm5 image"></div>
    <div><img src="/images/css.svg" alt="css image"></div>
  </div>

</article>

<article>
  <header class = "title">
    <h2>Projects</h2>
  </header>
<!-- cards section start-->
  <div class="cards">
    <article class="card">
      <img src="/images/Lysia.jpeg" alt="Lysia image">
      <div class="content">
        <p> The idea</p>
      </div>
      <footer>
        <span>Read more</span>
        <a href="#"><img src="/images/right-up.png" alt="right-up arrow image"></a>
      </footer>
    </article>

    <article class="card">
      <img src="/images/Lysia.jpeg" alt="Lysia image">
      <div class="content">
        <p>Short content.</p>
      </div>
      <footer>
        <span>Read more</span>
        <a href="#"><img src="/images/right-up.png" alt="right-up arrow image"></a>
      </footer>
    </article>

    <article class="card">
      <img src="/images/Lysia.jpeg" alt="Lysia image">
      <div class="content">
        <p>In a curious</p>
      </div>
      <footer>
        <span>Read more</span>
        <a href="#"><img src="/images/right-up.png" alt="right-up arrow image"></a>
      </footer>
    </article>
  </div>
</article>

<div class="container">
  <article>
    <header>
      <h2>Get in touch</h2>
    </header>
    <section>
      <div>
        <small>Adresse</small>
        <p>08 Rue Jean Lamour 54500 Vandoeuvre-lès-nancy</p>
      </div>
      <div>
        <small>Téléphone</small>
        <p>07 49 49 62 87</p>
      </div>
      <div>
        <small>E-mail</small>
        <p>pasciahershekaya@gmail.com</p>
      </div>
    </section>
    <section>
      <form action="form.js" method="get">
        <label for="name">
          <input type="text" name="name" placeholder="Enter your name...">
        </label>
        <label for="email">
          <input type="text" name="email" placeholder="Enter your email">
        </label>
        <label for="subject">
          <input type="text" name="subject" placeholder="Subject">
        </label>
        <label for="message">
          <input type="text" name="message" placeholder="Message">
        </label>
        <button>Send message</button>
      </form>
    </section>
  </article>
</div>

<!--project page end-->
<footer>
  <small>
    Copyright © Kaya Rhabby Pascia Hershe. All Rights Reserved.
  </small>
</footer>
  </body>
</html>
