<!-- about page start-->
<article id="about">
    <h2>About Me</h2>
    <section>
        <img src="/images/one_piece_luffy_big_mom_shanks_kaido_teach_yonko_by_amanomoon_dcanroz-pre.jpg" alt="one piece image">
        <div>
            <div class = "about_content">
                <p>I'm Sanja</p><br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus accusantium aperiam consectetur consequatur culpa, deserunt ea et, eum eveniet ipsa,
                    ipsum laboriosam neque nihil non quae quas quisquam sequi sit?
                    A adipisci aliquam atque commodi delectus eaque est in laboriosam laborum libero maiores minima nostrum,
                    numquam perspiciatis possimus provident quae quaerat quam quos sed suscipit unde veritatis.
                    Adipisci, aperiam, expedita!
                    Aliquam at, deserunt, earum est id ipsa maiores modi neque, odio quis ratione sequi sint ullam. Aperiam
                    earum ex harum impedit ipsa omnis optio placeat, quaerat quod unde. Accusantium, porro?
                    Accusamus accusantium culpa natus nihil nostrum perspiciatis porro, repellendus vitae! Ab architecto
                    assumenda commodi corporis culpa earum error explicabo fuga, hic laborum, natus necessitatibus nostrum qui
                    rem saepe soluta vero!
                </p>
            </div>
            <div class="about_btn_container">
                <button class ="btn" > <a href="#skills">Take a look at my skills</a></button>
                <button class ="btn"><a href="#contact">Let's Talk<a/></button>
            </div>
        </div>
    </section>
</article>
<!--about page end-->