<!-- about page start-->
<article id="about">
    <h2><%= t('about_title', { ns: 'about' }) %></h2>
    <section>
        <img src="/images/rhabby.jpg" alt="rhabby image" class="grid-item">
        <div>
            <div class="about_content">
                <p>
                    <%= t('about_text', { ns: 'about' }) %>
                </p>
            </div>
            <div class="about_btn_container">
                <a href="#skills"><button class="btn first"><%= t('take_a_look_btn', { ns: 'about' }) %></button></a>
                <a href="#contact"><button class="btn"><%= t('lets_talk_btn',{ ns: 'about' }) %></button></a>
            </div>
        </div>
    </section>
</article>
<!--about page end-->
