<!-- skills page start -->
<article class="bootcamp_container" id="bootcamp">
    <h2>Bootcamp</h2>
    <div>
        <div class="bootcamp_img_container" id="bootcamp_img_container">
            <!-- bootcamp content will be dynamically inserted here -->
        </div>
    </div>
</article>
<!-- skills page end -->