<article id="contact">
    <section class="contact-section">
        <h2>Contact</h2>
        <div class="contact-container">
            <div class="map-and-info">
                <iframe
                        title="Google Map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3978.000594883909!2d15.2458!3d-4.2787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10aafcd20c86b6e7%3A0x8d4e0d5f5caba105!2s6%Rue%20Jean%20Lamour%2C%20Vandoeuvre-lès-nancy%2C%20France!5e0!3m2!1sen!2sus!4v1691761025372!5m2!1sen!2sus"
                        width="100%"
                        height="400"
                        style="border: 0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
            </div>
            <div class="contact-info">
                <h3>Adresse</h3>
                <section>
                    <p>
                        <i class="fa fa-map-marker"></i> Rue Jean Lamour 54500 Vandoeuvre-lès-Nancy
                    </p>
                    <p>
                        <i class="fa fa-phone"></i> contact: (+242) 06 470 07 54
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> email: raellekissangou@gmail.com
                    </p>
                </section>
            </div>
        </div>
    </section>
</article>
