<!--education.ejs page start-->
<article id="education">
    <!--   *******  Education Section Starts  *******   -->
    <h2>Education</h2>
    <section>
        <div class="content">
            <div class="box">
                <h4>2018 - 2022</h4>
                <h3>High School Degree</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>

            <div class="box">
                <h4>2018 - 2022</h4>
                <h3>Bachelor's Degree</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>

            <div class="box">
                <h4>2018 - 2022</h4>
                <h3>Master Degree</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

        <div id="carouselExampleCaptions" class="carousel slide carousel-container" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/polytech_nancy.png" class="d-block w-100" alt="polytech nancy image">
                </div>
                <div class="carousel-item">
                    <img src="/images/strasbourg_university.png" class="d-block w-100" alt="ufr mathématiques informatiques strasbourg">
                </div>
                <div class="carousel-item">
                    <img src="/images/inphb.jpg" class="d-block w-100" alt="inphb image">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!--   *******  Education Section Ends  *******   -->
</article>
<!--education.ejs page end -->