<footer class="footer_container">
    <section class="footer_content">
        <div class="name">
            <span>Pascia Hershe</span>
        </div>
        <div class="links">
            <h3>Links</h3>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="contact">
            <h3>Contact</h3>
            <ul>
                <li>
                    <div class="cercle_img">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <a href="#">Rue jean Lamour Vandoeuvre-lès-Nancy 54500</a>
                </li>
                <li>
                    <div class="cercle_img">
                        <i class="fa fa-phone"></i>
                    </div>
                    <a href="#">07 49 49 62 87</a>
                </li>
                <li>
                    <div class="cercle_img">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <a href="#">pasciahershekaya@gmail.com</a>
                </li>
            </ul>
            <div class="header__btn">
                <a href="/documents/KAYA_RHABBY_Pascia_Hershe_cv_informatique.pdf" download="KAYA_RHABBY_Pascia_Hershe_cv_informatique.pdf">
                    <button class="btn">
                        Dowload my resume
                        <i class="fa fa-download"></i>
                    </button>
                </a>
            </div>
        </div>

        <div class="mailMe">
            <a href="#">
                <button class="btn">
                    envoyer un mail
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </a>
        </div>
    </section>
    <section>
        <div class="copyright">
            <p>Copyright © 2024 Portfolio. Tous droits réservés</p>
        </div>
    </section>
</footer>

