<footer>
    <h2>Get in touch</h2>
    <section >
        <div>
            <small>Adresse</small>
            <p>08 Rue Jean Lamour 54500 Vandoeuvre-lès-nancy</p>
        </div>
        <div>
            <small>Téléphone</small>
            <p>07 49 49 62 87</p>
        </div>
        <div>
            <small>E-mail</small>
            <p>pasciahershekaya@gmail.com</p>
        </div>
    </section>
    <p>
        <span>Copyright ©</span> Kaya Rhabby Pascia Hershe. All Rights Reserved.
    </p>
</footer>

