

<!--header navigation start-->
<nav>
    <div class="nav__header">
        <div class="nav__logo">
            <a href="#">
                <span>KAYA RHABBY Pascia Hershe</span>
            </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
        </div>
    </div>
    <ul class="nav__links" id="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<header class="header__container">
    <div class="header__image">
        <img src="/images/header.png" alt="header" />
    </div>
    <div class="header__content">
        <h1>
            Need a <br><span class="h1__span-1">Creative and stable</span> <br>
            <span class="h1__span-2">Web solution</span><br>
            for your business?
        </h1>
        <p>
            Welcome <br> to my web development portfolio
        </p>
        <div class="header__btn">
            <button class="btn">Dowload my resume</button>
        </div>
        <ul class="socials">
            <li>
                <a href="#"><i class="ri-facebook-circle-fill"></i></a>
            </li>
            <li>
                <a href="#"><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
                <a href="#"><i class="ri-youtube-fill"></i></a>
            </li>
        </ul>
    </div>
</header>