<header>
<nav >
    <a href="/" >KAYA RHABBY Pascia Hershe</a>
    <ul>
        <li><a href="/index#home">Home</a></li>
        <li><a href="/index#about">About</a></li>
        <li><a href="/index#education">Education</a></li>
        <li><a href="/index#skills">Skills</a></li>
        <li><a href="/index#projects">Projects</a></li>
        <li><a href="/index#contact">Contact</a></li>
        <li>
            <select class="form-select">
                <option selected>English</option>
                <option value="1">Français</option>
            </select>
        </li>
    </ul>
    <a href="/formulaire"> <button class="btn">Login</button> </a>
</nav>

<div class="menu-hamburger">
    <a href="#"><i class="fa-solid fa-bars"></i></a>
    <a href="#"><i class="fa-solid fa-x"></i></a>
</div>
</header>