<header>
<nav >
    <a href="#" >KAYA RHABBY Pascia Hershe</a>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <button class="btn" type="submit">Login</button>
</nav>

<div class="menu-hamburger">
    <a href="#"><i class="fa-solid fa-bars"></i></a>
    <a href="#"><i class="fa-solid fa-x"></i></a>
</div>
</header>