<header>
<nav >
    <a href="#" >KAYA RHABBY Pascia Hershe</a>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>

<div class="menu-hamburger">
    <a href="#"><i class="fa-solid fa-bars"></i></a>
    <a href="#"><i class="fa-solid fa-x"></i></a>
</div>
</header>