<article id="home">
    <div>
        <h1>
            Need a
            <br>
            <span class="h1__span-1">Creative and stable</span>
            <br>
            <span class="h1__span-2">Web solution</span><br>
            for your business?
        </h1>
        <p>
            Welcome <br> to my web development portfolio
        </p>
        <div class="header__btn">
            <button class="btn">Dowload my resume</button>
        </div>
        <ul>
            <li>
                <a href="#"><i class="ri-facebook-circle-fill"></i></a>
            </li>
            <li>
                <a href="#"><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
                <a href="#"><i class="ri-youtube-fill"></i></a>
            </li>
        </ul>
    </div>

    <img src="/images/header.png" alt="header" />

</article>