<header>
    <nav >
        <div class="logo">
            <a href="/" >PASCIA HERSHE</a>
        </div>
        <ul>
            <li><a href="/index#home">Home</a></li>
            <li><a href="/index#about">About</a></li>
            <li><a href="/index#education">Education</a></li>
            <li><a href="/index#skills">Skills</a></li>
            <li><a href="/index#projects">Projects</a></li>
            <li><a href="/index#contact">Contact</a></li>
        </ul>
        <div class="lang_and_button">
            <select class="form-select">
                <option selected>English</option>
                <option value="1">Français</option>
            </select>
            <a href="/formulaire"> <button class="btn">Login</button> </a>
        </div>
    </nav>

    <div class="menu-hamburger">
        <a href="#"><i class="fa-solid fa-bars"></i></a>
        <a href="#"><i class="fa-solid fa-x"></i></a>
    </div>
</header>