<header>
    <nav>
        <div class="logo">
            <a href="/">PASCIA H.</a>
        </div>
        <ul>
            <li><a href="#" data-category = "projects">Projects</a></li>
            <li><a href="#" data-category = "skills">Skills</a></li>
            <li><a href="#" data-category = "bootcamps">Certifications</a></li>
            <li><a href="#" data-category = "users">Users</a></li>
        </ul>
        <div class="lang_and_button">
            <a href="/api/logout"><button class="btn">Deconnexion</button></a>
        </div>
    </nav>

    <div class="menu-hamburger">
        <a href="#"><i class="fa-solid fa-bars"></i></a>
        <a href="#"><i class="fa-solid fa-x"></i></a>
    </div>
</header>