<!--project page start-->
<article class="projects_container" id="projects">
    <h2>Projects</h2>
    <nav>
        <ul>
            <li><a href="/projects">all</a></li>
            <li><a href="/projects/devops_projects">devops</a></li>
            <li><a href="/projects/webApps">webApps</a></li>
            <li><a href="/projects/game">game</a></li>
        </ul>
    </nav>
    <!-- cards section start-->
    <section class="cards">
        <article class="card">
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <div class="content">
                <p> The idea</p>
            </div>
            <div>
                <span>Read more</span>
                <a href="/projectDesc"><img src="/images/right-up.png" alt="right-up arrow image"></a>
            </div>
        </article>

        <article class="card">
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <div class="content">
                <p>Short content.</p>
            </div>
            <div>
                <span>Read more</span>
                <a href="/projectDesc"><img src="/images/right-up.png" alt="right-up arrow image"></a>
            </div>
        </article>

        <article class="card">
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <div class="content">
                <p>In a curious</p>
            </div>
            <div>
                <span>Read more</span>
                <a href="/projectDesc"><img src="/images/right-up.png" alt="right-up arrow image"></a>
            </div>
        </article>

        <article class="card">
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <div class="content">
                <p>In a curious</p>
            </div>
            <div>
                <span>Read more</span>
                <a href="/projectDesc"><img src="/images/right-up.png" alt="right-up arrow image"></a>
            </div>
        </article>
    </section>
</article>