<!--project page start-->
<article id="projects">
    <h2>Projects</h2>
    <div class="projects">
        <nav>
            <ul>
                <li>
                    <a href="#" data-category="projects">
                        <button class="btn">
                            All
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#" data-category="webapps">
                        <button class="btn">
                            WebApps
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#" data-category="game">
                        <button class="btn">
                            Game
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- cards section start-->
        <section class="gallerie_container">
            <!-- Les projets seront insérés ici par le JavaScript -->
        </section>
    </div>
</article>
