<!--project page start-->
<article id="projects">
    <h2>Projects</h2>
    <nav>
        <ul>
            <li><a href="/projects">all</a></li>
            <li><a href="/projects/devops_projects">devops</a></li>
            <li><a href="/projects/webApps">webApps</a></li>
            <li><a href="/projects/game">game</a></li>
        </ul>
    </nav>
    <!-- cards section start-->
    <section id="cards">
        <article>
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <p> Title </p>
            <div>
                <span>Read more</span>
                <a href="/projectDesc"><img src="/images/right-up.png" alt="right-up arrow image"></a>
            </div>
        </article>

        <article>
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <p> Title </p>
            <div>
                <span>Read more</span>
                <a href="/projectDesc"><img src="/images/right-up.png" alt="right-up arrow image"></a>
            </div>
        </article>

        <article>
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <p> Title </p>
            <div>
                <span>Read more</span>
                <a href="/projectDesc"><img src="/images/right-up.png" alt="right-up arrow image"></a>
            </div>
        </article>

        <article>
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <p> Title </p>
            <div>
                <span>Read more</span>
                <a href="/projectDesc"><img src="/images/right-up.png" alt="right-up arrow image"></a>
            </div>
        </article>
    </section>
</article>