<!--project page start-->
<article id="projects">
    <h2>Projects</h2>
    <div class="projects">
        <nav>
            <ul>
                <li>
                    <a href="/projects">
                        <button class="btn">
                            All
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/projects/webApps">
                        <button class="btn">
                            WebApps
                        </button>
                    </a></li>
                <li>
                    <a href="/projects/game">
                        <button class="btn">
                            Game
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- cards section start-->
        <section class ="gallerie_container">
            <article class = "gallerie_content">
                <div class = "gallerie_items_img">
                    <a href="">
                        <img src="/images/Lysia.jpeg" alt="Lysia image">
                        <h4>projet</h4>
                    </a>
                </div>
            </article>
        </section>
    </div>

</article>