<!--project page start-->
<article class="projects_container" id="projects">
    <h2>Projects</h2>
    <!-- cards section start-->
    <section class="cards">
        <article class="card">
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <div class="content">
                <p> The idea</p>
            </div>
            <div>
                <span>Read more</span>
                <a href="#">
                    <img src="/images/right-up.png" alt="right-up arrow image">
                </a>
            </div>
        </article>

        <article class="card">
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <div class="content">
                <p>Short content.</p>
            </div>
            <div>
                <span>Read more</span>
                <a href="#"><img src="/images/right-up.png" alt="right-up arrow image"></a>
            </div>
        </article>

        <article class="card">
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <div class="content">
                <p>In a curious</p>
            </div>
            <div>
                <span>Read more</span>
                <a href="#"><img src="/images/right-up.png" alt="right-up arrow image"></a>
            </div>
        </article>

        <article class="card">
            <img src="/images/Lysia.jpeg" alt="Lysia image">
            <div class="content">
                <p>In a curious</p>
            </div>
            <div>
                <span>Read more</span>
                <a href="#"><img src="/images/right-up.png" alt="right-up arrow image"></a>
            </div>
        </article>
    </section>

    <div class="btn_see_more">
        <button class="btn"> see more</button>
    </div>
</article>