<!--project page start-->
<article id="projects">
    <h2><%= t('projects', { ns: 'projects' }) %></h2>
    <div class="projects">
        <nav>
            <ul>
                <li>
                    <a href="#" data-category="projects">
                        <button class="btn">
                            <%= t('all', { ns: 'projects' }) %>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#" data-category="webapps">
                        <button class="btn">
                            <%= t('webapps', { ns: 'projects' }) %>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#" data-category="game">
                        <button class="btn">
                            <%= t('game', { ns: 'projects' }) %>
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- cards section start-->
        <section class="gallerie_container">
            <!-- Les projets seront insérés ici par le JavaScript -->
        </section>
    </div>
</article>
