<!--project page start-->
<article id="projects">
    <section class="projects_title_container">
        <h2><%= t('projects', { ns: 'projects' }) %></h2>
        <ul>
            <li>
                <a href="#" data-category="projects">
                    <button class="btn">
                        <%= t('all', { ns: 'projects' }) %>
                    </button>
                </a>
            </li>
            <li>
                <a href="#" data-category="webapps">
                    <button class="btn">
                        <%= t('webapps', { ns: 'projects' }) %>
                    </button>
                </a>
            </li>
            <li>
                <a href="#" data-category="game">
                    <button class="btn">
                        <%= t('game', { ns: 'projects' }) %>
                    </button>
                </a>
            </li>
        </ul>
    </section>
    <!-- cards section start-->
    <section class="gallerie_container">
        <!-- Les projets seront insérés ici par le JavaScript -->
    </section>
</article>
