<!-- skills page start -->
<article class="skills_container" id="skills">
    <h2>Skills</h2>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="#" data-category="skills">
                        <button class="btn">
                            All
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#" data-category="language">
                        <button class="btn">
                            languages
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#" data-category="framework">
                        <button class="btn">
                            framework
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="skills_img_container" id="skills_img_container">
            <!-- Skills will be dynamically inserted here -->
        </div>
    </div>
</article>
<!-- skills page end -->