<!-- skills page start -->
<article class="skills_container" id="skills">
    <h2>Skills</h2>
    <nav>
        <ul>
            <li><a href="#" data-category="skills">all</a></li>
            <li><a href="#" data-category="language">languages</a></li>
            <li><a href="#" data-category="framework">framework</a></li>
<!--            <li><a href="#" data-category="devops_skills">devops_skills</a></li>-->
        </ul>
    </nav>
    <div class="skills_img_container" id="skills_img_container">
        <!-- Skills will be dynamically inserted here -->
    </div>
</article>
<!-- skills page end -->