<!--skills page start -->
<article class="skills_container" id="skills">
    <h2>Skills</h2>
        <nav>
            <ul>
                <li><a href="/skills">all</a></li>
                <li><a href="/skills/languages">languages</a></li>
                <li><a href="/skills/framework">Framework</a></li>
                <li><a href="/skills/devops_skills">Devops</a></li>
            </ul>
        </nav>
    <div class="skills_img_container">
        <div class="skills_content_image">
            <img src="/images/python.svg" alt="python image">
            <p>Language Python</p>
        </div>
        <div class="skills_content_image">
            <img src="/images/java.svg" alt="java image">
            <p>Language Java</p>
        </div>
        <div class="skills_content_image" >
            <img src="/images/c.svg" alt="language c image">
            <p>Language C</p>
        </div>
        <div class="skills_content_image" >
            <img src="/images/c++.svg" alt="language c++ image">
            <p>Language C++</p>
        </div>
    </div>
</article>

<!-- skills page end -->