<!--skills page start -->
<article class="skills_container" id="skills">
    <h2>Skills</h2>

    <div class="skills_img_container">
        <div class="skills_content_image">
            <img src="/images/python.svg" alt="python image">
            <p>Language Python</p>
        </div>
        <div class="skills_content_image">
            <img src="/images/java.svg" alt="java image">
            <p>Language Java</p>
        </div>
        <div class="skills_content_image" >
            <img src="/images/c.svg" alt="language c image">
            <p>Language C</p>
        </div>
        <div class="skills_content_image" >
            <img src="/images/c++.svg" alt="language c++ image">
            <p>Language C++</p>
        </div>
        <div class="skills_content_image" >
            <img src="/images/javascript.svg" alt="javascript image">
            <p>Javascript</p>
        </div>
        <div class="skills_content_image" >
            <img src="/images/Php_light.svg" alt="php image">
            <p>Language PHP</p>
        </div >
        <div class="skills_content_image">
            <img src="/images/html5.svg" alt="htlm5 image">
            <p>HTML 5</p>
        </div>
        <div class="skills_content_image" >
            <img src="/images/css.svg" alt="css image">
            <p>CSS 3</p>
        </div>

        <div class="skills_content_image">
            <img src="/images/bootstrap.svg" alt="python image">
            <p>Bootstrap</p>
        </div>
        <div class="skills_content_image">
            <img src="/images/Express.js_light.svg" alt="java image">
            <p>ExpressJs</p>
        </div>
        <div class="skills_content_image" >
            <img src="/images/matlab.svg" alt="language c image">
            <p>Language Matlab</p>
        </div>
        <div class="skills_content_image" >
            <img src="/images/postgresql.svg" alt="language c++ image">
            <p>PostgreSQL</p>
        </div>
        <div class="skills_content_image" >
            <img src="/images/react.svg" alt="javascript image">
            <p>ReactJS</p>
        </div>
        <div class="skills_content_image" >
            <img src="../images/spring.svg" alt="php image">
            <p>Spring Boot</p>
        </div >
        <div class="skills_content_image">
            <img src="/images/wordpress.svg" alt="htlm5 image">
            <p>Wordpress</p>
        </div>
        <div class="skills_content_image" >
            <img src="/images/aws.svg" alt="css image">
            <p>CSS 3</p>
        </div>
    </div>
</article>

<!-- skills page end -->