main > article {
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}
main > article section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

main > article section img{
    height: 430px;
    width: 600px;
}

main > article section > div{
    display: flex;
    flex-direction: column;
    column-gap : 50px;
}

main > article section > div div:first-child {
    display: flex;
    flex-direction: column;
}

main > article section > div div:first-child p{
    text-align: justify;
}

main > article section > div div:first-child p:first-child{
    align-self: end;
    color: var(--third-color);
    font-size: 50px;
}

main > article section > div div:last-child{
    display: flex;
    justify-content: center;
    gap : 15rem;
}
