article#about {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

article#about > h2 {
    margin-bottom: 0;
}
article#about section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

article#about section img{
    height: 430px;
    width: 100%;
}

article#about section > div{
    display: flex;
    flex-direction: column;
    gap : 30px;
}

article#about section > div div.about_content {
    display: flex;
    flex-direction: column;
}

article#about section > div div.about_content p{
    text-align: justify;
    margin-bottom: 0;
}

article#about section > div div.about_btn_container{
    display: flex;
    justify-content: center;
    gap : 15rem;
}

.grid-item{
    place-self: center;
}