.appDashboard {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dashboardItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
}

.dashboardItem p{
    font-size: 24px;
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 90vh;
}

.dashboardTab{
    width: 100%;
    max-width: var(--max-width);
}