article#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

article#home div.homeContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    max-width: var(--max-width);
}

.homeTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    row-gap: 200px;
    background-color: #E9EFEC;
    height: 100vh;
}

article#home > div h1 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--black);
}

article#home > div p {
    color: var(--black);
}

article#home img {
    width: 100%;
}