@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #ff0147;
  --secondary-color: #212429;
  --third-color: #5e17eb;
  --text-light: #d1d5db;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1280px;
  --success-color: #23cc71;
  --error-color: #e74c3c;
  --border-color: #718096;

  /* Effets */
  --transition-duration: 0.3s;
  --box-shadow-hover: 0 10px 20px rgba(0, 0, 0, 0.3);

  /* Espacements */
  --gap-small: 10px;
  --gap-medium: 20px;
  --gap-large: 30px;
  --gap-xlarge: 70px;

  /* Bordures et Rayons */
  --border-radius-small: 5px;
  --border-radius-medium: 8px;
  --border-radius-large: 10%;
  --border-radius-circle: 50%;
  --border-radius: 10px;

  --overlay-color: rgba(0, 0, 0, 0.5);

  /* Tailles de police */
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-large: 20px;
  --font-size-xlarge: 24px;
  --font-size-xxlarge: 32px;
  --font-size-huge: 42px;
  --font-size-quote: 18px;
  --font-size-author: 16px;

  /* Bouton */
  --btn-width: 200px;
  --btn-padding: 10px;
  --btn-bg-color: forestgreen;
  --btn-hover-bg-color: darkgreen;

  /* Tailles des icônes */
  --icon-size-small: 20px;
  --icon-size-medium: 30px;
  --icon-size-large: 50px;
  --icon-size: 24px;

  /* Tailles d'éléments spécifiques */
  --circle-diameter: 200px;

  /* Header */
  --header-height: 70vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  padding: 20px;
  background-color: var(--secondary-color);
  position: sticky; /* Rend le header sticky */
  top: 0;
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
  max-width: var(--max-width);
}

header nav .logo a {
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition: 0.6s;
}

header nav .logo a:hover {
  color : var(--third-color);
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  transition: all 0.4s;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.2rem;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: var(--third-color);
}

header nav ul li a.active {
  color: var(--primary-color); /* Surligne le lien actif en orange */
}

.menu-hamburger {
  display: none;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  width: 60px;
  height: 60px;
}

.menu-hamburger a {
  color: var(--white);
  font-size: 2em;
  margin: 0;
}

main {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: var(--max-width);
  margin-inline: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: var(--primary-color);
  background-color: var(--white);
}

.lang_and_button {
  display: flex;
  gap: 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
