Section#project_desc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

section#project_desc article{
    max-width: 1260px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

section#project_desc article section:not(.content){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section#project_desc article section:not(.content) a{
    text-decoration: none;
    color : black;
}

section#project_desc article section:not(.content) a:hover{
    color : var(--primary-color);
}

section#project_desc article section:not(.content) img{
    width: 30px;
    height: 30px;
}

section#project_desc article img{
    width: 100%;
    height: 500px;
}

