.projects_container{
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 90px;
}

.cards{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap : 30px;
    align-self: center;
}

.cards .card{
    border: 1px solid transparent;
    width: 285px;
    height: 490px;
}

.cards .card img{
    width: 285px;
    height: 375px
}

.cards .card div:last-child {
    display: flex;
    justify-content: space-between;
}

.cards .card div img{
    width: 30px;
    height: 30px;
}


.btn_see_more {
    align-self: center;
}
