/*media queries start */
@media only screen and (max-width: 767px) {

    /* header */
    header {
        justify-content: end;
    }

    header nav {
        top : 0;
        left: 0;
        position: absolute;
        background-color: #ffffff;
        width: 85%;
        height: 60vh;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 50px;
        padding-top: 20px;
        margin-left: -100%;
        transition : all 0.5s ease;
    }

    header nav ul  {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    header nav ul li{
        margin : 10px 0;
        font-size: 1.2em;
        padding-left: 5px;
    }

    header nav ul li:hover{
        width: 33vh;
        background-color: blueviolet;
        border-radius: 10px;
    }

    header nav ul li a:hover{
        text-decoration: none;
        color : var(--white);
    }

    header nav ul li a{
        color: var(--black);
        margin : 0;
    }

    header nav > a{
        color : var(--black);
        margin: 0 30px;
    }

    header nav button{
        margin: 0 30px;
    }

    .menu-hamburger
    {
        display: inline-block;
        position: relative;
        left : 30px;
    }

    .menu-hamburger .fa-solid.fa-bars
    {
        display: inline-block;
    }

    .menu-hamburger .fa-x
    {
        display : none;
    }

    .mobile-menu{
        margin-left: 0;
    }


    /*####################fin navbar#################################*/

    /*#################### home ######################################*/
    article#home div.homeContainer{
        grid-template-columns: 1fr;
        column-gap: 20px;
    }
    article#home div.homeContainer > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }

    article#home > div h1 {
        font-size: 2rem;
        font-weight: 300;
        line-height: 2rem;
        text-shadow: 1px 2px #558abb;
        text-align: center;
    }

    .h1__span-1 {
        font-size: 2rem;
    }
    .h1__span-2 {
        font-size: 2rem;
    }
    article#home div ul {
        padding: 30px 0 0 0;
    }

    main > article#about{
        justify-content: center;
        align-items: center;
        margin-top: 90px;
        padding-left: 30px;
        padding-right: 30px;
    }

    main > article#about section{
        grid-template-columns: 1fr;
    }

    main > article#about section img{
        width: 100%;
    }

    main > article#about section > div{
        column-gap: 20px;
    }

    main > article#about section > div div.about_content {
        column-gap: 20px;
    }

    main > article#about section > div div.about_content p:first-child{
        align-self: start;
        color: var(--third-color);
        font-size: 50px;
    }

    main > article#about section > div div.about_btn_container{
        gap : 5px;
    }
    .about_btn_container button:first-child{
        display: none;
    }

    .skills_container{
        justify-content: center;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
    }
    .skills_img_container{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
    }

    main > article + article#education {
        justify-content: center;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    main > article + article#education section{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .projects_container{
        justify-content: center;
        align-items: center;
    }
    .cards {
        grid-template-columns: 1fr;
    }

    footer{
        flex-direction: column;
        align-items: start;
        padding-left: 30px;
        padding-right: 30px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}