/*media queries start */
@media only screen and (max-width: 767px) {

    /* header */
    header {
        justify-content: end;
    }

    header nav {
        top : 0;
        left: 0;
        position: absolute;
        background-color: #ffffff;
        width: 85%;
        height: 60vh;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 50px;
        padding-top: 20px;
        margin-left: -100%;
        transition : all 0.5s ease;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    header nav ul li{
        margin : 10px 0;
        font-size: 1.2em;
        padding-left: 5px;
    }

    header nav ul li:hover{
        width: 33vh;
        background-color: var(--btn-bg-color);
    }

    header nav ul li a:hover{
        text-decoration: none;
        color : var(--white);
    }

    header nav ul li a{
        color: var(--black);
        margin : 0;
    }

    header nav > a{
        color : var(--black);
        margin: 0 30px;
    }

    header nav button{
        margin: 0 30px;
    }

    .menu-hamburger
    {
        display: inline-block;
        position: relative;
        left : 30px;
    }

    .menu-hamburger .fa-solid.fa-bars
    {
        display: inline-block;
    }

    .menu-hamburger .fa-x
    {
        display : none;
    }

    .mobile-menu{
        margin-left: 0;
    }

    article#home div ul {
        padding: 30px 0 0 0;
    }

    /*####################fin navbar#################################*/

    /*#################### home ######################################*/
    article#home div.homeContainer{
        grid-template-columns: 1fr;
        column-gap: 20px;
    }
    article#home div.homeContainer > div:not(.header_image) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    article#home > div h1 {
        font-size: 1.8rem;
        font-weight: 400;
    }

    article#home img {
        width: 100%;
        max-width: 300px;
    }

    article#home div.header_image{
        display: flex;
        justify-content: center;
    }

    .homeTextContainer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .headerContainer {
        row-gap: 50px;
    }

    article#home .header_image::before {
        display: none; /* Cache l'ombre et le fond jaune sur les petits écrans */
    }

    article#about{
        justify-content: center;
        align-items: center;
        /*margin-top: 50px;*/
        padding-left: 20px;
        padding-right: 20px;
    }

    article#about section{
        grid-template-columns: 1fr;
    }

    article#about section img{
        width: 100%;
    }

    article#about section > div{
        column-gap: 20px;
    }

    article#about section > div div.about_content {
        column-gap: 20px;
    }

    article#about section > div div.about_btn_container{
        gap : 5px;
    }

    .skills_container{
        justify-content: center;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
    }

    .skills_title_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap : 10px;
    }
    .skills_img_container{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
    }

    article#education {
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    article#education section{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    article#projects {
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .projects_title_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap : 5px;
    }
    article#projects section {
        grid-template-columns: 1fr;
    }

    #contact{
        flex-direction: column;
        align-items: start;
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* header */
    header {
        justify-content: end;
    }

    header nav {
        top : 0;
        left: 0;
        position: absolute;
        background-color: #ffffff;
        width: 85%;
        height: 90vh;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 50px;
        padding-top: 20px;
        margin-left: -100%;
        transition : all 0.5s ease;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    header nav ul li{
        margin : 10px 0;
        font-size: 1.2em;
        padding-left: 5px;
    }

    header nav ul li:hover{
        width: 33vh;
        background-color: var(--btn-bg-color);
        border-radius: 10px;
    }

    header nav ul li a:hover{
        text-decoration: none;
        color : var(--white);
    }

    header nav ul li a{
        color: var(--black);
        margin : 0;
    }

    header nav > a{
        color : var(--black);
        margin: 0 30px;
    }

    header nav button{
        margin: 0 30px;
    }

    .menu-hamburger
    {
        display: inline-block;
        position: relative;
        left : 30px;
    }

    .menu-hamburger .fa-solid.fa-bars
    {
        display: inline-block;
    }

    .menu-hamburger .fa-x
    {
        display : none;
    }

    .mobile-menu{
        margin-left: 0;
    }

    article#home div.homeContainer{
        grid-template-columns: 1fr;
        column-gap: 20px;
    }
    article#home div.homeContainer > div:not(.header_image) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    article#home > div h1 {
        font-size: 3rem;
        font-weight: 400;
    }

    article#home div ul {
        padding: 30px 0 0 0;
    }

    article#home img {
        width: 100%;
        max-width: 300px;
    }

    article#home div.header_image{
        display: flex;
        justify-content: center;
    }

    .homeTextContainer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .headerContainer {
        row-gap: 200px;
    }

    article#home .header_image::before {
        display: none; /* Cache l'ombre et le fond jaune sur les petits écrans */
    }

    article#about{
        justify-content: center;
        align-items: center;
        /*margin-top: 50px;*/
        padding-left: 20px;
        padding-right: 20px;
    }

    article#about section{
        grid-template-columns: 1fr;
    }

    article#about section img{
        width: 100%;
    }

    article#about section > div{
        column-gap: 20px;
    }

    article#about section > div div.about_content {
        column-gap: 20px;
    }

    article#about section > div div.about_btn_container{
        column-gap : 100px;
    }

    .skills_container{
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .skills_title_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap : 10px;
    }

    .skills_img_container{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
    }

    article#education {
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    article#education section{
        grid-template-columns: 1fr;
        gap: 50px;
    }

    article#projects {
        justify-content: center;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
    }

    .projects_title_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap : 5px;
    }

    article#projects section {
        grid-template-columns: 1fr 1fr;
    }

    #contact{
        padding-left: 20px;
        padding-right: 20px;
    }
}